<header class="header">
    <article class="header-title-h1">
        <h1>Quotee</h1>
    </article>
    <article class="header-title-h4">
        <h4>Publish your quotes</h4>
    </article>
    <article class="header-button">
        <a href="#new-quote">
            <button class="button">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                  </div>
                </div>
                <span>Create</span>
              </button>
        </a>
    </article>

</header>
<div class="svg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff7f00" fill-opacity="1" d="M0,96L80,101.3C160,107,320,117,480,101.3C640,85,800,43,960,42.7C1120,43,1280,85,1360,106.7L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
</div>