/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    background-color: hsl(30, 100%, 80%);
    color: hsl(0, 0%, 20%);
}

body {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    overflow-y: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}